.footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 0, 13, 0.97);
  // background-image: url('../../../assets/LOGO_FOOTER.jpg');
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // opacity: 0.8; /* Chỉ làm mờ background */
  z-index: -1;
}

.footer {
  position: relative;
  overflow: hidden;
}
